body{
	color: #fff;
	font-family: OPPO, 'PingFang SC',
	 'Hiragino Sans GB', 'Heiti SC', 
	 'STHeiti', 'Microsoft YaHei', 
	 'WenQuanYi Micro Hei', 
	 'Helvetica Neue', 'Helvetica',
	  'Arial', sans-serif;
}
header{
	position: absolute;
	z-index: 1;
	width: 100%;
}
header nav img{
	height: 70px;
  margin: auto;
}
.row p{
	color: white;
}
.slide-img img{
  width: 300px;
}
.pt-5, .py-5 {
    padding-top: 4rem!important;
}
.sec h1{
	color:black;
	font-weight: bold; 
}
.sec img{
	width: 475px;
}
.map img{
	width: 400px;
}
.mob img{
	width: 500px;
}
.man img{
	width: 500px;
	border-radius: 18px;
}
.sec p{
	position: absolute;
	margin-top: -24px;
}
.slide p{
	font-size: 26px;

}
.series h1{
	color: black;
	font-size: 90px;
    font-weight: 700;
}
.series h2{
	font-size: 55px;
	color: black;
}
.series p{
	font-size: 34px;
}
span{
	border-radius: 10px;
    border: 2px solid;
    display: inline-table;
    color: black;
    font-size: 38px;
    padding: 0px 10px;
    margin-top: 15px;
    margin-left: 10px;
}
.butn{
	padding: 30px;
    border-radius: 60px;
    background: #0f4d12;
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
}
footer h1{
	font-size: 40px;
}
.foot h1{
	font-size: 80px;
}
footer p{
	color: white;
}
.s-radius{
	border-radius: 10px;
    border: 2px solid;
    color: white;
    font-size: 38px;
    padding: 0px 10px;
    margin-top: 30px;
    margin-left: 10px;
}


/*footer*/
h3,
a,
p {
  color: #1f2124;
}
h4 {
  font-size: 1rem !important;
  line-height: 1rem;
}
.widget-list {
  li {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.widget {
  .card-header {
    background: #fff;
    a {
      width: 100%;
      display: block;
      &:after {
        content: "+";
        position: absolute;
        right: 40px;
        top: .9rem;
        transition: transform .25s ease-in-out;
      }
      &:hover,
      &:focus {
      text-decoration: none;
      }
      &[aria-expanded="true"] {
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
  .card-block {
    padding: 0 1.3rem;
    .widget-list {
      li {
        margin-bottom: 4px;
      }
    }
  }
}

